@import url("../roots2.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  /* border: 1px solid red ; */
}
.bgimge {
  background-image: url(../img/bgimg.png);
  background-size: cover;
}
.pt-8 {
  padding-top: 8px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-25 {
  padding-top: 25px;
}
.max-w-630 {
  max-width: 630px;
}
.pb-25 {
  padding-bottom: 25px;
}

.section9_img {
  content: "";
  position: absolute;
  left: -15%;
  right: -50%;
  top: -72%;
  bottom: -50%;
}
.section9_img2 {
  content: "";
  position: absolute;
  left: 64%;
  right: 0;
  top: -50%;
  bottom: -50%;
  z-index: 0;
}

.imaghover {
  border-radius: 23px;
  height: 100%;
  transition: scale 400ms;
}
.imaghover:hover {
  scale: 120%;
}
.pt_10px {
  padding-top: 10px;
}

.max-width {
  max-width: 100%;
}
.learnbtn {
  display: flex;
  padding: 13px 22px;
  gap: 8px;
  border-radius: 40px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.mt_1 {
  margin-top: -2px !important;
}

.ww-100 {
  width: 100%;
}

.pt-70 {
  padding-top: 70px;
}
.pt-122 {
  padding-top: 120px;
}
.pb-70 {
  padding-bottom: 70px;
}

.boxes {
 max-width: 520px;
  justify-content: space-between;
  display: flex;
  padding: 1px 0px 1px 33.713px;
  border-radius: 29px;
  background: rgba(251, 253, 255, 0.07);
}

.input{
  max-width: 59%;
  border-color: rgba(251, 253, 255, 0.07);
  background-color: transparent;
  border: unset;
}

.pt-md-50 {
  padding-top: 50px;
}
.wx-100 {
  width: 100%;
}
.pp {
  margin-bottom: 0 !important;
}

.section11blr {
  content: "";
  position: absolute;
  left: 0%;
  right: 0;
  top: 0%;
  bottom: 0;
  z-index: 0;
}
.section10_img {
  content: "";
  position: absolute;
  left: 80%;
  right: 0;
  top: -6%;
  bottom: 0;
  z-index: 0;
}

@media (min-width: 320px) {
  .boxes{
    width: 100%;
    padding-left: 20px;
  }
  .input{
    width: 50%;

  }
 
  .arrow_img {
    content: "";
    position: absolute;
    left: 315%;
    right: 0;
    top: 25%;
    bottom: 0;
    z-index: 0;
  }
}

@media (min-width: 375px) {
  .section10_img {
    content: "";
    position: absolute;
    left: 87%;
    right: 0;
    top: -5%;
    bottom: 0;
    z-index: 0;
  }

  .arrow_img {
    content: "";
    position: absolute;
    left: 268%;
    right: 0;
    top: 25%;
    bottom: 0;
    z-index: 0;
  }
}

@media (min-width: 425px) {
  .section10_img {
    content: "";
    position: absolute;
    left: 88%;
    right: 0;
    top: -4%;
    bottom: 0;
    z-index: 0;
  }
  .arrow_img {
    content: "";
    position: absolute;
    left: 235%;
    right: 0;
    top: 25%;
    bottom: 0;
    z-index: 0;
  }
}
@media (min-width: 576px) {
  /* .boxes{
    max-width: 520px;
  } */
  .section10_img {
    content: "";
    position: absolute;
    left: 80%;
    right: 0;
    top: -5%;
    bottom: 0;
    z-index: 0;
  }
  .section11_img1::before {
    content: "";
    width: 1px;
    height: 200%;
    top: 8%;
    left: 50%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }

  .section11_img::before {
    content: "";
    width: 90%;
    height: 0;
    top: 62%;
    left: 6%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .section11_img2::before {
    content: "";
    width: 90%;
    height: 0%;
    top: 168%;
    left: 6%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .section11_img4::before {
    display: flex;
    flex-direction: column;
    content: "";
    width: 90%;
    height: 0%;
    top: 117%;
    left: 6%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .pt-85 {
    padding-top: 85px;
  }
  .pt-100 {
    padding-top: 100px;
  }
  .pb-100 {
    padding-bottom: 100px;
  }

  .pt-70 {
    padding-top: 0px;
  }
  .pt-75 {
    padding-top: 120px;
  }
  .pt-md-50 {
    padding-top: 50px;
  }

}

@media (min-width: 768px) {
  .section10_img {
    content: "";
    position: absolute;
    left: 88%;
    right: 0;
    top: -4%;
    bottom: 0;
    z-index: 0;
  }
  .arrow_img {
    content: "";
    position: absolute;
    left: 133%;
    right: 0;
    top: 28%;
    bottom: 0;
    z-index: 0;
  }
  /* .pt-70{
    padding-top: 70px;
  } */
}

@media (min-width: 992px) {
  .max-w-144 {
    max-width: 404px;
  }
  .max-w-500 {
    max-width: 500px;
  }

  .section10_img {
    content: "";
    position: absolute;
    left: 86%;
    right: 0;
    top: -6%;
    bottom: 0;
    z-index: 0;
  }

  .arrow_img {
    content: "";
    position: absolute;
    left: 100%;
    right: 0;
    top: 30%;
    bottom: 0;
    z-index: 0;
  }
  .section11_img::before {
    content: "";
    width: 1px;
    height: 300%;
    top: -5%;
    left: 25%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .section11_img1::before {
    content: "";
    width: 1px;
    height: 300%;
    top: -5%;
    left: 50%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .section11_img2::before {
    content: "";
    width: 1px;
    height: 300%;
    top: -5%;
    left: 75%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .section11_img4::before {
    display: flex;
    flex-direction: column;
    content: "";
    width: 99%;
    height: 0%;
    top: 157%;
    left: 0%;
    display: block;
    border: 1px solid #273138;
    position: absolute;
  }
  .pt-121 {
    padding-top: 120px;
  }
  .section9_img2 {
    content: "";
    position: absolute;
    left: 55%;
    right: 0%;
    top: -34%;
    bottom: -50%;
    z-index: 0;
  }
  .pt-150 {
    padding-top: 120px;
  }
  .pb-240 {
    padding-bottom: 240px;
  }
}

@media (min-width: 1200px) {
  .max-w-220 {
    max-width: 220px;
  }
  .wx-100 {
    width: 90%;
  }
}

@media (min-width: 1320px) {
  .section9_img2 {
    content: "";
    position: absolute;
    left: 64%;
    right: 0%;
    top: -40%;
    bottom: -50%;
    z-index: 0;
  }
  .section10_img {
    content: "";
    position: absolute;
    left: 81%;
    right: 0;
    top: -6%;
    bottom: 0;
    z-index: 0;
  }
  /* .arrow_img {
    content: "";
    position: absolute;
    left: 73%;
    right: 0;
    top: 30%;
    bottom: 0;
    z-index: 0;
  } */
}
@media (min-width: 1200px) {
  .arrow_img {
    content: "";
    position: absolute;
    left: 85%;
    right: 0;
    top: 34%;
    bottom: 0;
    z-index: 0;
  }
  .ww-100 {
    width: none;
  }
}
@media (min-width: 1450px) {
  .img-none {
    display: block !important;
    display: none !important;
  }
}
