@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* font-size */
  --fs-ms1: 8px;
  --fs-ms2: 10px;
  --fs-ms3: 12px;
  --fs-ms13: 13px;
  --fs-ms4: 12px;
  --fs-ms5: 15px;
  --fs-ms: 16px;
  --fs-sm: 18px;
  --fs-dm: 20px;
  --fs-md: 24px;
  --fs-md1: 24px;
  --fs-lg: 36px;
  --fs-xl: 32px;
  --fs-2xl: 35px;

  /* font-weight */
  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 500;
  --fw-xl: 600;
  --fw-2xl: 700;
}

.ff-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.ff-poppins {
  font-family: "Poppins", sans-serif !important;
}

.bg-clr {
  background-color: #020d15;
}
.tcolor {
  color: #98a1a9;
}
.fs-ms13{
    font-size: var(--fs-ms13);
}

.fs-dm {
  font-size: var(--fs-dm);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-md {
  font-size: var(--fs-md);
}
.fs-md1 {
  font-size: var(--fs-md1);
}
.fs-ms1 {
  font-size: var(--fs-ms1);
}

.fs-ms3 {
  font-size: var(--fs-ms3);
}

.fs-ms5 {
  font-size: var(--fs-ms5);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-2xl {
  font-size: var(--fs-2xl);
}

.fw-sm {
  font-weight: var(--fw-sm);
}

.fw-md {
  font-weight: var(--fw-md);
}


.fw-lg {
  font-weight: var(--fw-lg);
}

.fw-xl {
  font-weight: var(--fw-xl);
}

.fw-2xl {
  font-weight: var(--fw-2xl);
}
.fs-ms2 {
  font-size: var(--fs-ms2);
}

@media (min-width: 576px) {

  :root {
    --fs-md1: 32px;
    --fs-2xl: 48px;
    --fs-xl: 44px;
    --fs-ms4: 14px;
    --fs-dm: 20px;
    --fs-sm: 18px;
    --fs-ms: 16px;
    --fs-ms3: 12px;
  }

}
